
/* Toggle styles */

#toggle-container {
    display: flex;
    width: 100%;
    padding: 0.3125rem;
    border-radius: 20px;
    border: 2px solid var(--light-dark);
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    cursor: pointer;
    border-radius: 14px;
    /* transition: background-color 0.3s ease; */
}

.toggle-input:checked+.toggle-label {
    background-color: var(--tertiary-background);
    color: var(--primary-dark);
    border-radius: 14px;
    border: 1px solid var(--tertiary-dark);
}







/* Input styles */

/* Main container */
#creatorHolder,
#inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.875rem;
    height: 100%;
    flex-grow: 1;
}

/* Text inputs styles */
.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.3125rem;
    position: relative;
}

.creatorLabel {
    color: var(--secondary-dark);
}

.creatorInput {
    appearance: none;
    border: 1px solid var(--tertiary-dark);
    border-radius: 10px;
    height: 2.5rem;
    color: var(--secondary-dark);
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.largeText {
    height: 6rem;
    resize: vertical;
    overflow: auto;
    border-bottom-right-radius: 0px;
}

select.creatorInput {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdownChevron {
    width: 24px;
    height: 24px;
    fill: var(--secondary-dark);
    position: absolute;
    right: 10px;
    bottom: 7px;
    pointer-events: none;
}